
html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    width: 100%;
    height: 100%;
    background:#E6453B ;
}
.ren{
    width: 4.15rem;
    height: 7rem;
    background: url(../img/ren.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:2.05rem;
    top:2.35rem
}
.a1{
    width: 2rem;
    height: 1rem;
    background: url(../img/a1.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:1.3rem;
    top:1.2rem
}
.a2{
    width: 2rem;
    height: 2rem;
    background: url(../img/a2.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:5.13rem;
    top:0.8rem
}
.a3{
    width: 1.5rem;
    height: 1rem;
    background: url(../img/a3.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:1.3rem;
    top:3.55rem
}
.sha{
    width: 1.5rem;
    height: 1.2rem;
    background: url(../img/sha.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:5.4rem;
    top:3.41rem
}
.gou{
    width:3rem;
    height: 3rem;
    background: url(../img/gou.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:4.4rem;
    top:6rem;
}
.guo{
    position: absolute;
    left:3.24rem;
    top:10.1rem;
    font-size:0.44rem;
    color:#fff;
}
.ming{
    position: absolute;
    left:2.44rem;
    top:10.9rem;
    font-size:0.20rem;
    color:#fff;
}

/*第二屏*/
.ma{
    width:1rem;
    height: 1rem;
    background: url(../img/ma.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:5.61rem;
    top:3.28rem;
}
.biao{
    width:1.5rem;
    height: 1.5rem;
    background: url(../img/biao.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:1.37rem;
    top:1.27rem;
}
.majiang{
    width:7.5rem;
    height: 13.34rem;
    background: url(../img/majiang.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:1.5rem;
    top:2.76rem;
}
/*第三屏*/
.yi{
    width:0.58rem;
    height: 0.76rem;
    background: url(../img/c1.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:4.62rem;
    top:1.83rem;
}
.er{
    width:1rem;
    height:0.93rem;
    background: url(../img/c2.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:0.62rem;
    top:4.86rem;
}
.san{
    width:1rem;
    height: 1rem;
    background: url(../img/c3.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:5.60rem;
    top:4.68rem;
}
.si{
    width:1rem;
    height: 1rem;
    background: url(../img/c4.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:5.40rem;
    top:6.77rem;
}
.wu{
    width:1rem;
    height: 1rem;
    background: url(../img/c5.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:0.62rem;
    top:7rem;
}
.yue{
    width:3.01rem;
    height: 6.37rem;
    background: url(../img/yue.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:2.65rem;
    top:2.9rem;
}
.guoa{
    position: absolute;
    left:2.74rem;
    top:9.1rem;
    font-size:0.44rem;
    color:#fff;
}
.minga{
    position: absolute;
    left:2.44rem;
    top:9.9rem;
    font-size:0.20rem;
    color:#fff;
}
.kai{
    width:3.5rem;
    height:1rem;
    background: url(../img/kai.png) no-repeat;
    background-size: cover;
    position: absolute;
    left:2.30rem;
    top:10.7rem;
}